.popup {
    position: absolute;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    font-size: 14px;
    font-family: Arial, sans-serif;
    max-width: 200px;
    word-wrap: break-word;
  }
  
  .popup::before {
    content: "";
    position: absolute;
    bottom: -10px; /* Adjust this value to move the arrow */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
  